# Data Science Tools and Ecosystem

## Author: 
  Gasmi Mohamed Skander

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Science
* List Data Science Tools and popular environments
* Execute some examples of code in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
|   Jupyter Notebook |
|      RStudio       |
|      VS Code       |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5.

17.0

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335